<!--
   body {
    background-color: #aaaaff;
    overflow:hidden;
   }
   .snowflake{
    position:absolute;
    top:-40px;
    transition: left 5s;
    opacity:1;
    color: #fff;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .ng {
   font-weight: bold;
   font-size: 300%;
   color: red;
  }
  .star {
   top: 100px;
   left: 100px;
   position: absolute;
   font-size: 400%;
  }
  .star.gn { color: green; }
  .star.rd { color: red; }
  .star.mg { color: magenta; }
-->
body {
  margin: 0;
  background: linear-gradient(to bottom, #001d3d, #003566);
  font-family: Arial, sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shooting-star {
  position: absolute;
  top: 0;
  left: -120px;
  width: 120px;
  height: 2px;
  background: url(https://raw.githubusercontent.com/farazc60/Project-Images/refs/heads/main/christmas/shooting-star.png) center center no-repeat;
  background-size: 100% 100%;
  transform: rotate(20deg);
  animation: 10s falling-star 0.2s infinite;
}

@keyframes falling-star {
  0% {
    transform: translate3d(0, 0, 0) rotate(10deg);
    opacity: 1;
  }
  25%, 100% {
    transform: translate3d(100vw, 30vh, 0) rotate(10deg);
    opacity: 0;
  }
}

.tree{
  position: absolute;
  bottom: 10px;
  width: 50%;
  max-width: 400px;
  height: auto;
  z-index: 1;
}

@keyframes fall {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(calc(-50% + 300px), calc(-50% + 500px)) rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: translate(calc(-50% + 500px), calc(-50% + 700px)) rotate(360deg);
    opacity: 0;
  }
}

.snow-hill{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.wish {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-family: Cursive , Arial, sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff3333, 0 0 20px #ff6666;
  z-index: 4;
}
<!-- animation: sparkle 2s infinite; -->

@keyframes sparkle {
  0%, 100% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff3333, 0 0 20px #ff6666;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900, 0 0 30px #ff6600;
    transform: scale(1.1);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}
